.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  font-size: 25px;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}

.logo {
  text-align: center;
}

.store-comment {
  display: flex;
}

.store-comment img {
  width: 50%;
  height: 400px;
}

.store-comment > * {
  padding: 40px;
}

.about-me {
  width: 50%;
}
